* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  min-height: 100px;
  background-color: lightgreen;
  border: solid 1px black;
  padding: 2px;
}

body {
  font-family: tahoma;
}

img {
  max-width: 100%;
  height: auto;
}

#nav-large {
  width: 80%;
  margin: 0 auto;
}

#nav-mobile {
  display: none;
}

#jumbo {
  height: 600px;
  width: 100%;
  padding-top: 240px;
  padding-bottom: 260px;
  background-size: cover;
  background-image: url("../img/background1.jpg");
  position: relative;
  text-align: center;
}

#shared {
  font-size: 40px;
}

#bring {
  font-size: 18px;
}

p {
  font-size: 20px;
}
