* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  min-height: 100px;
  min-width: auto;
  background-color: lightgreen;
  border: solid 1px black;
  padding: 2px;
}

body {
  font-family: tahoma;
}

/* HEADER */
/* nav superiore */
.upper {
  min-height: 58px;
  background-color: lightgreen;
  border: solid 1px black;
  /* padding-top: 10px; */
}

#logo-helbiz {
  max-height: 30px;
  max-width: auto;
  float: left;
  text-align: right;
  margin-top: 12px;
}

ul {
  list-style-type: none;
  margin-top: 1.5%;
  padding-left: 20%;
}

li {
  font-size: 14px;
  display: inline;
  margin-left: 1%;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lightgrey;
}

img {
  max-width: 100%;
  height: auto;
}

#nav-up {
  width: 80%;
  margin: 0 auto;
}

/* jumbotron */
#jumbo {
  height: 650px;
  width: 100%;
  padding-top: 230px;
  padding-bottom: 270px;
  background-size: cover;
  background-image: url("../img/background2.jpg");
  position: relative;
  text-align: center;
}

#shared {
  font-size: 40px;
  color: white;
}

#bring {
  font-size: 17px;
  color: white;
}

#apple {
  height: 50px;
  width: auto;

  display: inline;
}

#google {
  height: 50px;
  width: auto;

  display: inline;
}

p {
  font-size: 20px;
}

/* MAIN */
/* sezione monopattini */

#monopattini {
  width: 90%;
  margin: 0 auto;
}

.monos {
  min-height: 550px;
  min-width: auto;
  background-color: lightgreen;
  border: solid 1px black;
  margin-top: 2%;
}

.boxleft {
  min-height: 450px;
  min-width: auto;
  background-color: #fafafa;
  margin-top: 20px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.boxright {
  min-height: 450px;
  min-width: auto;
  background-color: #fafafa;
  margin-top: 20px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.bikescoot {
  max-height: 450px;
  max-width: auto;
}

/* sezione anziano telefono */
#oldphone {
  height: 850px;
  width: auto;
  margin-top: 40px;
  padding-bottom: 270px;
  background-size: cover;
  background-image: url("../img/oldman1.jpg");
  position: relative;
  text-align: center;
}

.olph {
    min-height: 50px;
    min-width: auto;
    background-color: lightgreen;
    border: solid 1px black;
  }

#iphone {
  max-height: 680px;
  max-width: auto;
  margin-top: 10%;
}

.par1 {
  height: 800px;
  text-align: left;
  padding-top: 650px;
  padding-left: 150px;
}

.par2 {
  height: 800px;
  text-align: left;
  padding-top: 650px;
  padding-left: 150px;
}

/* sezione smart mobility */
#riquadri {
  height: 550px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/scooterbck.jpg");
  background-size: cover;
  float: left;
}

.scoots {
  min-height: 250px;
  background-color: lightgreen;
  border: solid 1px black;
  float: right;
  margin-top: 200px;
  padding-top: 15px;
}

.txt1 {
  text-align: center;
}

/* sezione social */
#riquadri2 {
  height: 550px;
  width: 80%;
  margin: 0 auto;
  background-size: cover;
  position: relative;
}

.socright {
  min-height: 450px;
  background-image: url("../img/capital.jpg");
  background-size: cover;
  border: solid 1px black;
  float: left;
  margin-top: 40px;

}

/* #capital {
  height: 50%;
  width: 600px;
} */

.socleft {
  min-height: 450px;
  border: solid 1px black;
  float: left;
  margin-top: 40px;
}

.txt2 {
  text-align: center;
  /* margin-top: 2%;
  position: absolute;
  top: 8px; */
}

/* sezione family */

#family {
  height: 500px;
  width: 100%;
  padding-top: 240px;
  padding-bottom: 480px;
  margin-top: 50px;
  /* padding-left: 560px;
  padding-right: 560px; */
  background-size: cover;
  background-image: url("../img/patchwork.jpg");
  text-align: center;
  display: block;
  float: left;
}

.fam {
  height: 350px;
}

#helbizfamily {
  font-size: 40px;
  padding-top: 45px;
}
