* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  min-height: 100px;
  min-width: auto;
  background-color: lightgreen;
  border: solid 1px black;
  padding: 2px;
}

body {
  font-family: tahoma;
}

/* HEADER */
/* nav superiore */
.upper {
  min-height: 58px;
  background-color: lightgreen;
  border: solid 1px black;
}

#logo-helbiz {
  max-height: auto;
  width: 50%;
  float: left;
  text-align: right;
}

ul {
  list-style-type: none;
  margin-top: 1.5%;
  padding-left: 20%;
}

li {
  font-size: 14px;
  display: inline;
  margin-left: 1%;

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lightgrey;
}

img {
  max-width: 100%;
  height: auto;
}

#nav-up {
  width: 80%;
  margin: 0 auto;
}

/* jumbotron */
#jumbo {
  height: 600px;
  width: 100%;
  padding-top: 230px;
  padding-bottom: 270px;
  background-size: cover;
  background-image: url("../img/background1.jpg");
  position: relative;
  text-align: center;
}

#shared {
  font-size: 45px;
  color: white;
}

#bring {
  font-size: 17px;
  color: white;
}

#apple {
  height: 50px;
  width: auto;

  display: inline;
}

#google {
  height: 50px;
  width: auto;

  display: inline;
}

p {
  font-size: 20px;
}

/* MAIN */
/* sezione monopattini */

#monopattini {
  width: 80%;
  margin: 0 auto;
}

.monos {
  min-height: 450px;
  background-color: lightgreen;
  border: solid 1px black;
  margin-top: 2%;
}

.boxleft {
  min-height: 450px;
  min-width: auto;
  background-color: rgb(220,220,220);
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.boxright {
  min-height: 450px;
  min-width: auto;
  background-color: blue;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
